/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
}

.foto{
    width: 305px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow:  3px 3px 3px 3px rgb(131, 126, 126);
    position: relative;
}

/*Prošla jsem všechhno možné, ale nedaří se mně dostat obsah přímo pod fotku. Czechitou a relative by to snad být nemělo. Když jsem Czechitu přesunu pod obsah v html tak její absolute nastavení fungovalo i pro relative obsah. Ale proč obsah nejde posunout nahoru asi vymyslet už nedokážu. To stejné pak řeším u odkazů dole*/

.obsah{
    position: relative;
    margin-left: 20px;
    background-color: #31363b;
    width: 305px;
    font-family: sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
    padding-left: 25px;
    color: whitesmoke;
    box-shadow:  3px 3px 3px 3px rgb(131, 126, 126);
    }

.jmeno{
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 20px;
    }

.odstavecJedna{
    margin-bottom: 20px;
}

.logo{
        position: absolute;
        left: 260px;
        top: 200px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #b92e81;
        color: whitesmoke;
    }

    .odkazy{
        margin-left: 20px;
        width: 305px;
        height: 100px;
        font-family: sans-serif;
        font-style: normal;
        font-size: 17px;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #31363b;
        color: whitesmoke;
        list-style-type: none;
        padding: 0px;  
    }

/* Netuším jak dostat text na střed a jak jak rozdělit Facebook a Twitter do dvou na jednom řádku. Napadlo mně to udělat přes tlačítka, ale to asi není zadáním, když v html je to popsané jako seznam. */

    .portfolio:hover{
        display: block; 
        height: 50px;     
        text-align: center;
        background-color: #e74c3c;
    }

    .facebook:hover{
        display: inline-block;
        height: 50px;
        width: 125px;
        background-color: #3b5998;
        float: left;
    }

    .twitter:hover{
        display: inline-block;
        height: 50px;
        width: 125px;
        background-color: #1da1f2;
        float: right;
    }

  